.admin {
  display: flex;
  flex-direction: row;

}
.admin .content {
  width: calc(100% - 22% - 40px);
  height: auto;
  padding: 13vh 40px;
  overflow-x: hidden;
  overflow-y: scroll;
  /* padding-bottom: 20vh; */
}
.admin .content.active {
  width: calc(100%);
  padding: 0px;
}
.admin .content {
  width: calc(100% - 22% - 40px);
  height: 100vh;              /* take full viewport height */
  padding: 13vh 40px;
  overflow-y: auto;           /* only scroll when needed */
  overflow-x: hidden;
  padding-bottom: 0vh;
  
  /* hide scrollbars */
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE/Edge */
}
.admin .content::-webkit-scrollbar {
  display: none;              /* Chrome, Safari */
}

.admin-loading{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.admin-loading .loading{
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.admin-loading .loading .image{
  width:60px;
  aspect-ratio: 1;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;


}
.admin-loading .loading .image img{
  width: 100%;
  margin: auto;
}


@media screen and (max-width: 900px) {
  .admin {
    flex-direction: column;
    height: auto;
    padding: 15px 0px !important;
    overflow:hidden;
    

  }
  .admin .content {
    overflow-x: hidden;
  }
}
@media screen and (max-width: 500px) {
  .admin .content {
    width: calc(100% - 40px);
    height: calc(100vh - 10vh);
    padding: 15px 20px;
  }
  .admin .content.doc{
    width: 100% !important;
  }
  .admin .content.doc .med-grid{
    overflow-x: scroll;
  }
}
