.admin {
  display: flex;
  flex-direction: row;
}
.admin .content {
  width: calc(100% - 22% - 40px);
  padding: 13vh 40px;
}
.admin .content.active {
  width: calc(100%);
  padding: 0px;
}
.admin-loading{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.admin-loading .loading{
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.admin-loading .loading .image{
  width:60px;
  aspect-ratio: 1;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;


}
.admin-loading .loading .image img{
  width: 100%;
  margin: auto;
}


@media screen and (max-width: 900px) {
  .admin {
    flex-direction: column;
    height: 90vh;
    padding: 5vh 0px !important;
    overflow-y: scroll;
    

  }
}
@media screen and (max-width: 500px) {
  .admin .content {
    width: calc(100% - 40px);
    height: calc(100vh - 10vh);
    padding: 5vh 20px;
  }
}
