.dropdown-img, .option-img {
    display: flex;
    /* display: inline-block; */
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }

  .dropdown-img img, .option-img img{
    width: 100%;
    margin: auto;
  }
  
  .sBtn-text, .option-text {
    display: inline-flex;
    align-items: center;
  }