.fetal-chart{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.fetal-chart .title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
}
.fetal-chart .fetal-graph{
    width: 90%;
    height: 75%;
    margin: 0px auto;
}