
.otp-form{
    display: flex;
    flex-direction: column;
}
.otp-form h3{
    text-align: center;
    font-weight: 400;
}
.otp-form .otp-instructions{
    text-align: center;
    font-size: .9em;
}
.otp-form .otp-instructions span{
    font-weight: 700;
}
.otp-resend-text{
    text-align: center;
    font-size: .9em;
}
.otp-error{
    color: red;
    text-align: center;
    font-size: .9em;
}
.otp-form  .password-container {
  margin: 20px auto;
  width: 100%;
  height: 70px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.auth  .password-container .pin-input {
  width: 100%;
  max-width: 70px;
  aspect-ratio: 1;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 7px;
  overflow: hidden;
  font-size: 16px;
}
.auth  .password-container .pin-input input {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  text-align: center;
  font-size: 16px !important;
}
.auth .password-container .pin-input input:focus {
  border: none;
  outline: none;
  font-size: 16px !important;
}